Repository ChunkyNosher/copy-URL-on-hover_ChunkyEdition: changes, and which Codecov flags are due for each by the changed paths.
All: features, core

Path conditions:
  features: any of: src/features/**/*.js, but not: dist/**, node_modules/**, coverage/**, **/*.test.js, **/*.spec.js, .github/**, tests/**, docs/**, *.config.js, *.config.cjs
  core: any of: *.js, src/**/*.js, but not: src/features/**, dist/**, node_modules/**, coverage/**, **/*.test.js, **/*.spec.js, .github/**, tests/**, docs/**, *.config.js, *.config.cjs

Add moduleNameMapper for webextension-polyfill
  jest.config.cjs
Due: none

Rename content-legacy.js to .content-legacy.js
  .content-legacy.js
Due: core

Refactor processOperation to use block scope
  background.js
Due: core

Enhance reload button to reset iframe source
  .content-legacy.js
Due: core

Remove deprecated updateColorPreview function
  popup.js
Due: core

Add modification warning to .content-legacy.js
  .content-legacy.js
Due: core

Fix version validation to accept both 3 and 4 part versions
  tests/example.test.js
Due: none

Update legacy file instructions
  .content-legacy.js
Due: core

Create placeholder
  docs/manual/1.5.9 docs/placeholder
Due: none

Add files via upload
  docs/manual/1.5.9 docs/export-logs-button-implementation.md
Due: none

Fix ESLint no-var error by restructuring browser shim
  popup.js
Due: core

Fix ESLint no-self-assign error in reload button
  src/features/quick-tabs/window.js
Due: features

Fix ESLint no-prototype-builtins error
  src/features/url-handlers/index.js
Due: features

Add files via upload
  docs/manual/1.5.9 docs/blob-download-failure-fix.md
Due: none

Update test file path for browser API mocks
  .github/workflows/copilot-setup-steps.yml
Due: none

Add files via upload
  docs/manual/1.5.9 docs/log-export-no-logs-fix.md
Due: none

Add files via upload
  docs/manual/1.5.9 docs/data-url-export-fix-v1594.md
Due: none

Refactor data URL export documentation
  docs/manual/1.5.9 docs/data-url-export-fix-v1594.md
Due: none

Add files via upload
  docs/manual/1.5.9 docs/firefox-blob-url-fix-v1595.md
Due: none

Add files via upload
  docs/manual/1.5.9 docs/blob-url-race-fix-v1596.md
Due: none

update version to 1.5.9.6
  package-lock.json
Due: none

feat: add Zen Browser detection and setup scripts; include Playwright test dependency
  package-lock.json
  package.json
  test-helpers/zen-browser-init.js
  test-helpers/zen-browser-setup.ts
Due: none

Add content-legacy.js to .gitignore
  .gitignore
Due: none

edit .gitignore
  .gitignore
Due: none

Add entries for environment variables and Node modules
  .gitignore
Due: none

chore: add .env file for environment variables
  .env
Due: none

feat: add @playwright/mcp dependency to package.json and package-lock.json
  package-lock.json
  package.json
Due: none

chore: add content-legacy.js to .gitignore
  .gitignore
Due: none

feat: update agent descriptions and tools for improved functionality and clarity
  .github/agents/bug-architect.md
  .github/agents/bug-fixer.md
  .github/agents/feature-builder.md
  .github/agents/feature-optimizer.md
  .github/agents/master-orchestrator.md
  .github/agents/refactor-specialist.md
Due: none

feat: move download logic to background script to prevent popup closure issues
  docs/manual/1.5.9 docs/popup-close-background-v1597.md
Due: none

feat: Implement log export delegation to background script (v1.5.9.7)
  .github/agents/bug-architect.md
  .github/agents/bug-fixer.md
  .github/agents/feature-builder.md
  .github/agents/feature-optimizer.md
  .github/agents/master-orchestrator.md
  .github/agents/refactor-specialist.md
  .github/copilot-instructions.md
  README.md
  background.js
  docs/implementation-summaries/IMPLEMENTATION-SUMMARY-log-export-background-v1.5.9.7.md
  docs/manual/1.5.9 docs/popup-close-background-v1597.md
  manifest.json
  package.json
  popup.js
Due: core

feat: Add forensic analysis document for Quick Tab critical bugs in v1.5.9.7
  docs/manual/1.5.9 docs/v1-5-9-7-forensic-debug.md
Due: none

feat: update version to 1.5.9.7 in package-lock.json
  package-lock.json
Due: none

feat: Bump version to 1.5.9.8 and implement Clear Log History feature
  .github/agents/bug-architect.md
  .github/agents/bug-fixer.md
  .github/agents/feature-builder.md
  .github/agents/feature-optimizer.md
  .github/agents/master-orchestrator.md
  .github/agents/refactor-specialist.md
  .github/copilot-instructions.md
  README.md
  background.js
  docs/implementation-summaries/IMPLEMENTATION-SUMMARY-v1.5.9.8.md
  manifest.json
  package.json
  popup.html
  popup.js
  src/content.js
  src/features/quick-tabs/index.js
  src/features/quick-tabs/window.js
Due: features, core

add browser logs to repo
  docs/extension-consoleoutput-logs/copy-url-extension-logs_v1.5.9.8_2025-11-17T16-33-31.txt
Due: none

feat: Add extension console logs for version 1.5.9.8
  docs/extension-consoleoutput-logs/copy-url-extension-logs_v1.5.9.8_2025-11-17T16-47-21.txt
Due: none

feat: Implement synchronization for Quick Tab Manager position and size across tabs, fix indicator colors and button visibility
  docs/manual/1.5.9 docs/quick-tab-manager-fixes-v1598.md
Due: none

feat: Implement critical fixes for Quick Tabs minimize/restore functionality and enhance panel synchronization
  background.js
  docs/implementation-summaries/IMPLEMENTATION-SUMMARY-v1.5.9.8.md
  src/features/quick-tabs/index.js
  src/features/quick-tabs/minimized-manager.js
  src/features/quick-tabs/panel.js
  src/features/quick-tabs/window.js
Due: features, core

feat: Add analysis document for Quick Tabs cross-tab rendering bug and recommended solutions
  docs/manual/1.5.9 docs/quick-tabs-cross-tab-rendering-bug-v1599.md
Due: none
