Repository ChunkyNosher/copy-URL-on-hover_ChunkyEdition: changes, and which Codecov flags are due for each by the changed paths.
All: features, core

Path conditions:
  features: any of: src/features/**/*.js, but not: dist/**, node_modules/**, coverage/**, **/*.test.js, **/*.spec.js, .github/**, tests/**, docs/**, *.config.js, *.config.cjs
  core: any of: *.js, src/**/*.js, but not: src/features/**, dist/**, node_modules/**, coverage/**, **/*.test.js, **/*.spec.js, .github/**, tests/**, docs/**, *.config.js, *.config.cjs

style: auto-format code with Prettier [skip ci]
  .github/copilot-instructions.md
  background.js
  docs/issue-47-revised.md
  docs/manual/1.6.4/issue-47-diagnostics-corrected.md
  docs/manual/1.6.4/issue-48-container-mismatch-bug-REVISED.md
  sidebar/quick-tabs-manager.js
Due: core

Add files via upload
  docs/extension-consoleoutput-logs/copy-url-extension-logs_v1.6.4-v4_2026-01-04T01-35-25.txt
Due: none

style: auto-format code with Prettier [skip ci]
  docs/issue-47-revised.md
Due: none

Add files via upload
  docs/extension-consoleoutput-logs/copy-url-extension-logs_v1.6.4-v4_2026-01-04T16-26-25.txt
  docs/extension-consoleoutput-logs/copy-url-extension-logs_v1.6.4-v4_2026-01-04T16-27-51.txt
Due: none

style: auto-format code with Prettier [skip ci]
  .github/copilot-instructions.md
  background.js
  docs/issue-47-revised.md
  sidebar/quick-tabs-manager.js
Due: core

Add files via upload
  docs/extension-consoleoutput-logs/copy-url-extension-logs_v1.6.4-v4_2026-01-04T20-05-03.txt
  docs/extension-consoleoutput-logs/copy-url-extension-logs_v1.6.4-v4_2026-01-04T20-10-49.txt
Due: none

Add files via upload
  docs/extension-consoleoutput-logs/copy-url-extension-logs_v1.6.4-v5_2026-01-04T21-39-28.txt
Due: none

style: auto-format code with Prettier [skip ci]
  .github/agents/quicktabs-cross-tab-agent.md
  .github/agents/quicktabs-manager-agent.md
  .github/agents/quicktabs-unified-agent.md
  .github/copilot-instructions.md
  README.md
  background.js
  docs/issue-47-revised.md
Due: core

Add files via upload
  docs/extension-consoleoutput-logs/copy-url-extension-logs_v1.6.4-v5_2026-01-04T22-54-57.txt
Due: none

style: auto-format code with Prettier [skip ci]
  .github/copilot-instructions.md
  README.md
  docs/issue-47-revised.md
Due: none

Add files via upload
  docs/extension-consoleoutput-logs/copy-url-extension-logs_v1.6.4-v5_2026-01-05T16-33-19.txt
Due: none

style: auto-format code with Prettier [skip ci]
  .github/copilot-instructions.md
  docs/issue-47-revised.md
  src/content.js
Due: core

style: auto-format code with Prettier [skip ci]
  .github/copilot-instructions.md
  docs/WEBEXTENSION-AUDIT-v1.6.4.12-FINAL.md
  docs/issue-47-revised.md
  docs/manual/1.6.4/cross_component_integration_gaps.md
  docs/manual/1.6.4/firefox-api-limitations.md
  docs/manual/1.6.4/quick-tab-manager-diagnosis.md
  docs/manual/1.6.4/quick-tabs-v1636-comprehensive-diagnostics.md
  docs/manual/v1.5.8.16 issues docs/zen-browser-split-view-implementation-plan.md
  docs/manual/v1.6.0.10-visual-changes-summary.md
  docs/manual/v1.6.0/log-verbosity-and-filtered-export-guide.md
  sidebar/quick-tabs-manager.css
  sidebar/quick-tabs-manager.js
  sidebar/settings.css
  sidebar/settings.html
  src/content.js
  src/ui/css/quick-tabs.css
  src/utils/url-cleaner.js
  tests/unit/utils/url-cleaner.test.js
Due: core

Add files via upload
  docs/extension-consoleoutput-logs/copy-url-extension-logs_v1.6.4-v5_2026-02-22T15-45-07.txt
Due: none

style: auto-format code with Prettier [skip ci]
  background.js
  sidebar/settings.js
  src/utils/url-cleaner.js
Due: core

style: auto-format code with Prettier [skip ci]
  .github/copilot-instructions.md
  scripts/validate-manifest.js
  src/utils/url-cleaner.js
  tests/example.test.js
  vite.config.js
Due: core

Remove memory status and quality verification steps
  .github/workflows/copilot-setup-steps.yml
Due: none

style: auto-format code with Prettier [skip ci]
  .eslintrc.cjs
  src/utils/url-cleaner.js
Due: core

style: auto-format code with Prettier [skip ci]
  .eslintrc.cjs
  scripts/validate-manifest.js
Due: none

style: auto-format code with Prettier [skip ci]
  package.json
Due: none

Update scripts/prepare-chrome-dist.cjs
  scripts/prepare-chrome-dist.cjs
Due: none

Add AGENTS.md with Cursor Cloud development instructions
  AGENTS.md
Due: none

Add tslib dependency required by playwright-webextext for E2E tests
  package-lock.json
  package.json
Due: none

Remove dead source code, unused files, and orphan tests
  jest.config.cjs
  sidebar/panel.html
  sidebar/panel.js
  sidebar/settings.css
  src/background/strategies/StorageFormatDetector.js
  src/background/strategies/formatMigrators/LegacyMigrator.js
  src/background/strategies/formatMigrators/V1_5_8_14_Migrator.js
  src/background/strategies/formatMigrators/V1_5_8_15_Migrator.js
  src/core/index.js
  src/domain/ReactiveQuickTab.js
  src/features/quick-tabs/mediator.js
  src/features/quick-tabs/schemas/BroadcastMessageSchema.js
  src/features/url-handlers/shadow-dom.js
  src/shims/container-shim.js
  src/ui/components.js
  src/ui/css/base.css
  src/ui/css/notifications.css
  src/ui/css/quick-tabs.css
  src/utils/error-telemetry.js
  src/utils/index.js
  src/utils/logging-infrastructure.js
  src/utils/lru-map-guard.js
  src/utils/validation.js
  state-manager.js
  test-helpers/zen-browser-init.js
  test-helpers/zen-browser-setup.ts
  tests/unit/schemas/BroadcastMessageSchema.test.js
  tests/unit/utils/lru-map-guard.test.js
  tests/unit/utils/validation.test.js
  vite.config.js
Due: features, core

Remove unused dependencies and dead scripts
  package-lock.json
  package.json
  tsconfig.json
Due: none

Consolidate configs: merge Playwright, clean .buildconfig.json, trim .codecov.yml
  .buildconfig.json
  .codecov.yml
  .github/workflows/playwright-extension-tests.yml.OLD
  package.json
  playwright.config.js
  scripts/setup-firefox-test-profile.cjs
Due: none

Remove unused test infrastructure (14 files)
  tests/__mocks__/browser-storage.js
  tests/e2e/helpers/event-tracking.js
  tests/e2e/helpers/extension-loader.js
  tests/e2e/helpers/multi-tab-fixture.js
  tests/extension/helpers/firefox-extension-installer.js
  tests/fixtures/quick-tabs-state.js
  tests/helpers/async-helpers.js
  tests/helpers/coordinator-utils.js
  tests/helpers/dom-helpers.js
  tests/helpers/manager-factory.js
  tests/helpers/port-simulator.js
  tests/helpers/state-machine-utils.js
  tests/helpers/storage-test-helper.js
  tests/helpers/test-builders.js
Due: none

Replace vite-plus with standard vite, use direct tool commands
  .codecov.yml
  package-lock.json
  package.json
Due: none

Add tslib dependency (required by playwright-webextext for E2E tests)
  package-lock.json
  package.json
Due: none

Update AGENTS.md to reflect cleanup changes
  AGENTS.md
Due: none

Bump version to 1.6.1.1
  package-lock.json
Due: none

Refactor storage and messaging architecture.
  .cursor/hooks/state/continual-learning.json
  .eslintrc.cjs
  .github/COPILOT-TESTING-GUIDE.md
  .github/copilot-instructions.md
  AGENTS.md
  background.js
  docs/architecture/1-component-hierarchy.md
  docs/architecture/3-storage-architecture.md
  docs/architecture/4-message-routing.md
  docs/architecture/chrome-mv3-deferred.md
  jest.config.cjs
  manifest.chrome.json
  manifest.json
  options_page.html
  options_page.js
  package.json
  popup.js
  scripts/validate-architecture.js
  sidebar/quick-tabs-manager.js
  src/background/MessageRouter.js
  src/content.js
  src/features/quick-tabs/handlers/CreateHandler.js
  src/features/quick-tabs/index.js
  src/storage/FormatMigrator.js
  src/storage/SessionStorageAdapter.js
  src/storage/StorageAdapter.js
  src/storage/SyncStorageAdapter.js
  src/test-bridge.js
  src/utils/structured-logger.js
  tests/e2e/helpers/quick-tabs.js
  tests/extension/helpers/extension-test-utils.js
  tests/extension/issue-47-focused.spec.js
  tests/extension/issue-47-scenarios.spec.js
  tests/unit/storage/FormatMigrator.test.js
  tests/unit/storage/SessionStorageAdapter.test.js
  tests/unit/storage/StorageAdapter.test.js
  tests/unit/storage/SyncStorageAdapter.test.js
  tests/unit/storage/error-handling.test.js
  vite.config.js
Due: features, core

Update docs and manifests for v2.0.0 release
  .cursor/hooks/state/continual-learning.json
  .github/COPILOT-TESTING-GUIDE.md
  .github/agents/bug-architect.md
  .github/agents/bug-fixer.md
  .github/agents/copilot-docs-updater.md
  .github/agents/feature-builder.md
  .github/agents/feature-optimizer.md
  .github/agents/master-orchestrator.md
  .github/agents/quicktabs-cross-tab-agent.md
  .github/agents/quicktabs-manager-agent.md
  .github/agents/quicktabs-single-tab-agent.md
  .github/agents/quicktabs-unified-agent.md
  .github/agents/refactor-specialist.md
  .github/agents/ui-ux-settings-agent.md
  .github/agents/url-detection-agent.md
  .github/copilot-instructions.md
  AGENTS.md
  README.md
  docs/CHANGELOG.md
  docs/architecture/1-component-hierarchy.md
  docs/architecture/3-storage-architecture.md
  docs/architecture/4-message-routing.md
  docs/architecture/chrome-mv3-deferred.md
  manifest.chrome.json
  manifest.json
  package-lock.json
  package.json
  updates.json
Due: none
