Repository ChunkyNosher/copy-URL-on-hover_ChunkyEdition: changes, and which Codecov flags are due for each by the changed paths.
All: features, core

Add files via upload
  docs/manual/1.6.4/browser-storage-vs-indexeddb-analysis.md
  docs/manual/1.6.4/issue-47-additional-gaps(1).md
  docs/manual/1.6.4/issue-47-analysis.md
  docs/manual/1.6.4/issue-47-log-analysis(1).md
  docs/manual/1.6.4/issue-48-new-findings.md
Due: none

Add files via upload
  docs/manual/1.6.4/quick-tabs-api-limitations-third-report.md
  docs/manual/1.6.4/quick-tabs-comprehensive-diagnostic-report(1).md
  docs/manual/1.6.4/quick-tabs-manager-issues-diagnostic.md
  docs/manual/1.6.4/quick-tabs-supplementary-issues(1).md
Due: none

style: auto-format code with Prettier [skip ci]
  docs/manual/1.6.4/QUICK-TAB-ADDITIONAL-DIAGNOSTICS-v1.6.3.11.md
  docs/manual/1.6.4/quick-tabs-api-limitations-third-report.md
  docs/manual/1.6.4/quick-tabs-comprehensive-diagnostic-report(1).md
  docs/manual/1.6.4/quick-tabs-manager-issues-diagnostic.md
  docs/manual/1.6.4/quick-tabs-supplementary-issues(1).md
  sidebar/quick-tabs-manager.js
  src/background/MessageRouter.js
Due: core

Add files via upload
  docs/manual/1.6.4/additional-issues-v1-6-3.md
  docs/manual/1.6.4/verified-diagnosis-v1.6.3.md
Due: none

style: auto-format code with Prettier [skip ci]
  .github/agents/bug-architect.md
  .github/agents/bug-fixer.md
  .github/agents/copilot-docs-updater.md
  .github/agents/feature-builder.md
  .github/agents/feature-optimizer.md
  .github/agents/master-orchestrator.md
  .github/agents/quicktabs-cross-tab-agent.md
  .github/agents/quicktabs-manager-agent.md
  .github/agents/quicktabs-single-tab-agent.md
  .github/agents/quicktabs-unified-agent.md
  .github/agents/refactor-specialist.md
  .github/copilot-instructions.md
  README.md
  background.js
  docs/manual/1.6.4/additional-issues-v1-6-3.md
  docs/manual/1.6.4/verified-diagnosis-v1.6.3.md
  sidebar/settings.js
  src/background/MessageRouter.js
Due: core

Add files via upload
  docs/manual/1.6.4/button-architecture-refactor.md
  docs/manual/1.6.4/continuation-analysis.md
  docs/manual/1.6.4/copy-url-hover-comprehensive-diagnostic.md
  docs/manual/1.6.4/log-analysis-bugs-v1.6.3.12.md
Due: none

style: auto-format code with Prettier [skip ci]
  .github/copilot-instructions.md
  README.md
  docs/manual/1.6.4/button-architecture-refactor.md
  docs/manual/1.6.4/continuation-analysis.md
  docs/manual/1.6.4/copy-url-hover-comprehensive-diagnostic.md
  docs/manual/1.6.4/log-analysis-bugs-v1.6.3.12.md
  sidebar/quick-tabs-manager.js
  sidebar/settings.js
  src/utils/storage-utils.js
Due: core

Add files via upload
  docs/manual/1.6.4/issue-48-manager-bugs-comprehensive.md
  docs/manual/1.6.4/issue-48-quick-tabs-manager-bugs.md
  docs/manual/1.6.4/issue-48-supplementary-bugs.md
Due: none

Add files via upload
  docs/manual/1.6.4/quick-tab-manager-diagnosis.md
  docs/manual/1.6.4/quick-tab-manager-sync-issues.md
  docs/manual/1.6.4/secondary-issues-report.md
Due: none

Document: Critical button binding issue - event listeners missing from main branch buttons
  docs/button-binding-missing-fix.md
Due: none

Add files via upload
  docs/extension-consoleoutput-logs/copy-url-extension-logs_v1.6.3.12-v12_2025-12-29T02-39-44.txt
Due: none

style: auto-format code with Prettier [skip ci]
  .github/agents/bug-architect.md
  .github/agents/bug-fixer.md
  .github/agents/copilot-docs-updater.md
  .github/agents/quicktabs-cross-tab-agent.md
  .github/agents/quicktabs-manager-agent.md
  .github/agents/quicktabs-single-tab-agent.md
  .github/agents/quicktabs-unified-agent.md
  .github/copilot-instructions.md
  README.md
  background.js
  docs/button-binding-missing-fix.md
  docs/manual/1.6.4/issue-48-manager-bugs-comprehensive.md
  docs/manual/1.6.4/issue-48-quick-tabs-manager-bugs.md
  docs/manual/1.6.4/issue-48-supplementary-bugs.md
  docs/manual/1.6.4/quick-tab-manager-diagnosis.md
  docs/manual/1.6.4/quick-tab-manager-sync-issues.md
  docs/manual/1.6.4/secondary-issues-report.md
Due: core

Add files via upload
  docs/extension-consoleoutput-logs/copy-url-extension-logs_v1.6.3.12-v12_2025-12-29T03-44-23.txt
Due: none

Add files via upload
  docs/extension-consoleoutput-logs/copy-url-extension-logs_v1.6.3.12-v12_2025-12-29T04-28-47.txt
Due: none

style: auto-format code with Prettier [skip ci]
  background.js
Due: core

Add files via upload
  docs/extension-consoleoutput-logs/copy-url-extension-logs_v1.6.3.12-v12_2025-12-29T17-07-08.txt
Due: none

Add files via upload
  docs/extension-consoleoutput-logs/copy-url-extension-logs_v1.6.3.12-v12_2025-12-29T23-57-13.txt
Due: none

style: auto-format code with Prettier [skip ci]
  .github/copilot-instructions.md
  background.js
Due: core

Rename docs/manual/1.6.4/issue-47-revised.md to docs/issue-47-revised.md
  docs/issue-47-revised.md
Due: none

Add files via upload
  docs/extension-consoleoutput-logs/copy-url-extension-logs_v1.6.4_2025-12-30T03-06-15.txt
Due: none

Add files via upload
  docs/extension-consoleoutput-logs/copy-url-extension-logs_v1.6.4_2025-12-30T03-06-15.txt
  docs/extension-consoleoutput-logs/copy-url-extension-logs_v1.6.4_2025-12-30T03-12-15.txt
Due: none

style: auto-format code with Prettier [skip ci]
  .github/copilot-instructions.md
  background.js
  sidebar/quick-tabs-manager.js
Due: core

Add files via upload
  docs/extension-consoleoutput-logs/copy-url-extension-logs_v1.6.4_2025-12-30T04-30-32.txt
  docs/extension-consoleoutput-logs/copy-url-extension-logs_v1.6.4_2025-12-30T04-31-48.txt
Due: none

style: auto-format code with Prettier [skip ci]
  README.md
  docs/issue-47-revised.md
  sidebar/quick-tabs-manager.js
Due: none

Add files via upload
  docs/extension-consoleoutput-logs/copy-url-extension-logs_v1.6.4_2025-12-30T04-34-22.txt
Due: none

Add files via upload
  docs/extension-consoleoutput-logs/copy-url-extension-logs_v1.6.4_2025-12-30T16-47-08.txt
  docs/extension-consoleoutput-logs/copy-url-extension-logs_v1.6.4_2025-12-30T16-49-52.txt
  docs/extension-consoleoutput-logs/copy-url-extension-logs_v1.6.4_2025-12-30T17-03-31.txt
Due: none

style: auto-format code with Prettier [skip ci]
  .github/copilot-instructions.md
  docs/issue-47-revised.md
  src/features/quick-tabs/window.js
Due: features

Add files via upload
  docs/extension-consoleoutput-logs/copy-url-extension-logs_v1.6.4_2025-12-30T22-47-46.txt
  docs/extension-consoleoutput-logs/copy-url-extension-logs_v1.6.4_2025-12-30T22-50-16.txt
Due: none

style: auto-format code with Prettier [skip ci]
  background.js
  sidebar/quick-tabs-manager.js
Due: core

Add files via upload
  docs/extension-consoleoutput-logs/copy-url-extension-logs_v1.6.4_2025-12-30T22-57-53.txt
Due: none

Add files via upload
  docs/extension-consoleoutput-logs/copy-url-extension-logs_v1.6.4_2025-12-30T23-01-34.txt
Due: none

Add files via upload
  docs/extension-consoleoutput-logs/copy-url-extension-logs_v1.6.4_2025-12-30T23-36-13.txt
  docs/extension-consoleoutput-logs/copy-url-extension-logs_v1.6.4_2025-12-30T23-37-42.txt
Due: none

Add files via upload
  docs/extension-consoleoutput-logs/copy-url-extension-logs_v1.6.4_2025-12-30T23-42-14.txt
Due: none

Add files via upload
  docs/extension-consoleoutput-logs/copy-url-extension-logs_v1.6.4_2025-12-31T00-23-00.txt
  docs/extension-consoleoutput-logs/copy-url-extension-logs_v1.6.4_2025-12-31T00-29-16.txt
Due: none

style: auto-format code with Prettier [skip ci]
  sidebar/quick-tabs-manager.js
Due: none

Add files via upload
  docs/extension-consoleoutput-logs/copy-url-extension-logs_v1.6.4_2025-12-31T01-25-26.txt
Due: none

Path conditions:
  features: any of: src/features/**/*.js, but not: dist/**, node_modules/**, coverage/**, **/*.test.js, **/*.spec.js, .github/**, tests/**, docs/**, *.config.js, *.config.cjs
  core: any of: *.js, src/**/*.js, but not: src/features/**, dist/**, node_modules/**, coverage/**, **/*.test.js, **/*.spec.js, .github/**, tests/**, docs/**, *.config.js, *.config.cjs
